body{

margin:0;
padding:30px;
font-family:Arial,sans-serif;

background:linear-gradient(135deg,#74ebd5,#ACB6E5);

}

.container{

max-width:700px;

margin:auto;

background:white;

padding:35px;

border-radius:20px;

box-shadow:0 0 25px rgba(0,0,0,.3);

}

h1{

text-align:center;

color:#004080;

margin-bottom:25px;

}

label{

font-weight:bold;

display:block;

margin-top:15px;

}

input,select,textarea{

width:100%;

padding:12px;

margin-top:6px;

border:1px solid #999;

border-radius:8px;

box-sizing:border-box;

font-size:15px;

}

input:focus,

select:focus,

textarea:focus{

outline:none;

border:2px solid royalblue;

}

.radio{

margin-top:10px;

}

.radio input{

width:auto;

}

.check{

margin-top:20px;

}

.check input{

width:auto;

}

button{

width:100%;

margin-top:25px;

padding:14px;

font-size:18px;

background:#0066cc;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#004080;

}

#message{

margin-top:20px;

text-align:center;

font-size:18px;

font-weight:bold;

}

@media(max-width:700px){

.container{

padding:20px;

}

}